.icon {
  display: inline-block;
  flex: 0 0 auto;
  inline-size: 1em;
  block-size: 1em;
  background-color: currentColor;
  mask: var(--asset-icon-source) center / contain no-repeat;
  -webkit-mask: var(--asset-icon-source) center / contain no-repeat;
}
