global
  log stdout format raw local0
  maxconn 256

defaults
  log global
  mode http
  option httplog
  option http-keep-alive
  timeout connect 5s
  timeout client 1h
  timeout server 1h
  timeout http-request 10s

frontend docker_api
  bind :2375

  acl read_method method GET HEAD
  acl allowed_path path_reg -i ^(/v[0-9]+\.[0-9]+)?/(_ping|version|info|events|containers/json)$
  acl allowed_path path_reg -i ^(/v[0-9]+\.[0-9]+)?/containers/[^/]+/(json|logs)$
  acl allowed_path path_reg -i ^(/v[0-9]+\.[0-9]+)?/networks$

  http-request deny deny_status 403 unless read_method allowed_path
  default_backend docker_socket

backend docker_socket
  server docker unix@/var/run/docker.sock
